PORT=5001

DATABASE_URL=postgresql://postgres:YOUR_POSTGRES_PASSWORD@localhost:5432/user_management

JWT_SECRET=this_is_a_super_secret_key_change_it

JWT_EXPIRES_IN=1h

FRONTEND_ORIGIN=http://localhost:3000